h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 3em;
}

#imagecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img {
    width: 500px;
    margin: 10px;
}

#why {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: steelblue;
    font-size: 1.5em;
}

#thingsIlike {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

#thingsIlike div {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid steelblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1fr;
}
#thingsIlike div :hover {
    border: 3px solid steelblue;
}

#randomthings {
    text-align: center;
}

.picture {
    width: 40px;
}

